/* Write your CSS here */
* {
  font-family: 'Roboto';
}

.githubpopularrepos-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.githubpopularrepos-heading {
  color: #0f172a;
  font-family: 'Lobster';
  font-size: 45px;
}

.languageFilters-container {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.GithubRepos-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
}

.githubpopularrepos-failure-container {
  text-align: center;
  max-width: 500px;
}
.failure-view-image {
  width: 80%;
  margin: auto;
}
.failure-text {
  color: #0f172a;
  font-family: 'Bree serif';
  font-size: 25px;
  font-weight: bold;
}
